<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% if site.head_custom %}
      {% include head-custom.html %}
    {% endif %}
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!-- Professional Introduction -->
        <h2>About Me</h2>
        <p>
          I am a graduate student at <strong>Carnegie Mellon University</strong>, pursuing a Master's in <strong>Information Systems Management</strong>.
          With a background in business and technology, I am passionate about leveraging data science, machine learning, and optimization techniques 
          to extract actionable insights from complex datasets.  
          My goal is to bridge the gap between data analytics and business decision-making, driving data-driven strategies that create real-world impact.
        </p>

        <!-- Contact Information -->
        <h2>Contact</h2>
        <ul>
          <li>Email: <a href="mailto:quynhmailam06@gmail.com">Email</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/mai-q-lam?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">LinkedIn</a></li>
        </ul>

    

        {% if site.show_downloads %}
          <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      
      </header>
      <section>
        <h2>Skills</h2>
        <p>
          <strong>Programming Languages:</strong> Python, SQL (Oracle, MySQL, PostgreSQL), R (tidyverse, dplyr, lubridate), Java. <br>
          <strong>Data Visualization:</strong> Power BI, Tableau, Looker, Matplotlib, ggplot2, Seaborn, PowerPoint. <br>
          <strong>Machine Learning & AI:</strong> PyTorch, TensorFlow, Scikit-Learn, Torchvision, NLTK. <br>
          <strong>Data Processing & Automation:</strong> Pandas, NumPy, SciPy, BeautifulSoup, Selenium, ETL Pipelines. <br>
          <strong>Optimization & Spreadsheet Modeling:</strong> Excel (Pivot Tables, Solver, Simplex LP Optimization). <br>
          <strong>Statistical Analysis:</strong> A/B Testing, Regression Analysis, Hypothesis Testing, Statistical Modeling, Forecasting. <br>
          <strong>Certifications:</strong> Google Data Analytics Professional Certificate, Google Advanced Data Analytics Professional Certificate.
        </p>
      </section>

      <section>
        {{ content }}
      </section>

      <footer>
        {% if site.github.is_project_page %}
          <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
